.wrap-images{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6px;
    .wrap-image{
        width: 100%;
        position: relative;
        
        &::after{
            // 영역 
            display: block;
            content: '';
            // 이미지를 1:1로 맞춤
            padding-bottom: 100%;
        }

        img{
            width: 100%;
            height: 100%;
            left: 0;
            position: absolute;
            object-fit: cover;
            filter: brightness(1);
        }

          
          img:hover {
            /* 마우스를 올리면 보이게 처리 */
            cursor: pointer;
            filter: brightness(0.5)
          }
    }
}