@font-face{
    font-family: 'NanumGyuRiEuiIrGi';
    src: 
        url("../assets/fonts/NanumGyuRiEuiIrGi.woff2") format("woff2"),
        url("../assets/fonts/NanumGyuRiEuiIrGi.woff") format("woff"),
        url("../assets/fonts/NanumGyuRiEuiIrGi.ttf") format("truetype");
        font-display: fallback;
}